<h1>{{title}}</h1>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>

  <a routerLink="/messages">Messages</a>

  <a routerLink="/ad-banner">Ad Banner</a>
  <a routerLink="/popup">Popup</a>

  <a routerLink="/directives/attribute">Attribute Directives</a>
  <a routerLink="/directives/structural">Structural Directives</a>

  <a routerLink="/app-pip">Pipes</a>

  <a routerLink="/forms/reactive">Forms Reactive</a>
  <a routerLink="/forms/template">Forms Template</a>

  <a routerLink="forms/validation/reactive">Reactive Validation</a>
  <a routerLink="forms/validation/template">Template Validation</a>

  <a routerLink="forms/dynamic">Forms Dynamic</a>

  |

  <a routerLink="ng-modules">NGModules</a>

  |

  <a routerLink="di">Dependency Injection</a>
  <a routerLink="di-in-action">DI-in-action</a>

  |

  <a routerLink="http">HTTP</a>

  |

  <a routerLink="routers">Routers</a>

</nav>

<router-outlet></router-outlet>

